@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title2{
	font-size: 5rem;
	font-weight: 500;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta1{
	display: inline-block;
	padding: 10px 30px;
	color: black;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta1:hover{
	color:white;
	background-color: crimson;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-weight: 600;
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
	font-weight: 700;
	font-size:4rem;
}
#auto-typed{
	font-size:4rem;
	color:firebrick;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	background-color: black;
}
#header .header {
	min-height: 8vh;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url("./img/76YM.gif");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
#search{
    height:50px;
    width:250px;
    text-align: center;
    border-radius: 7px;
    border: none;
    font-size:1.5rem;
}
#button{
    width: 70px;
    height:50px;
    padding:10px;
    border-radius: 7px;
    border: none;
    background-color: crimson;
}
#button:hover{
  color:white;
  transition:0.3s;
}

/* End Hero Section */



/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .projects-header1 h1 {
	margin-top: 50px;
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	overflow: hidden;
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 3rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

/* About Section */
#about .about-container {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
	padding:10px;
}
#about .col-left {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 70px;
}
#about .col-right {
	width: 100%;
}
#about .col-right .cta {
	color: black;
	padding: 10px 20px;
	font-size: 2rem;
	margin-bottom: 10px;
}
.col-left img{
	height: 500px;
	width: 500px;
	object-fit: cover;
}
/* End About Section */

/* Contact Section*/
.contact-container h2{
	color:white;
	font-weight: 300;
}
.contact-title{
	text-align: center;
	font-size:3.5rem;
	font-weight: 400;
	color:white;
}
.contact-container{
	min-height: 400px;
	max-width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.img-container{
	width:40%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.form-container{
	text-transform: uppercase;
	background-color: rgb(31, 30, 30);
	min-height: 100vh;
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	display:flex;
	flex-direction: column;
	padding:50px;
	gap:20px;
}
label{
margin-bottom: 10px;
font-weight: 900;
font-size:1.2rem;
color:black;
text-transform: uppercase;
}
.first-col{
	border: 5px solid crimson;
	gap:20px;
	width: 750px;
	height:700px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
}
.form-ewan{
	width: 700px;
	gap:20px;
	height: 220px;
	padding:  25px 20px 25px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 10px;
}
.first,.second,.third,.fourth,.fifth,.six{
	display:flex;
	flex-direction: column;
}
input{
	outline:none;
	border:none;
	border-bottom:1px solid black;
}
#tel{
	height: 3vh;
	width:650px;
}
.form-ewan1{
	padding:10px;
	height:300px;
}
.fifth{
	margin-bottom: 20px;
}
textarea{
	height:10vh;
	border:2px solid black;
}


/* End Contact Section*/

/* vision and mission*/

.vs-container{
	min-height: 1200px;
	max-width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.vision-container{
	padding:20px;
	flex-direction: column;
	display:flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
	min-height:1200px;
}
.mission-container{
	padding:50px;
	background-color: black;
	flex-direction: column;
	display:flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
	min-height:1200px;
}
.mission-container p{
	color:white;
	font-weight: 500;
}
.vision-container p{
	font-weight: 700;

}
.red{
	color:crimson;
}

/* End vision and mission*/


/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */

@media only screen and (max-width: 768px) {
	#about .col-right .p {
		
		padding:25px;
	}
}

@media only screen and (max-width: 1300px) {
	.img-container{
		display: none;
	}
	.vs-container{
		display:flex;
		flex-direction: column;
	}
	.mission-container{
		max-width: 100%;
	}
	.vision-container{
		max-width: 100%;
	}
	.contact-container{
		text-align: center;
		display: flex;
		flex-direction: column-reverse;
	}
	.form-container{
		width: 100%;
		min-height: 1200px;
	}
	.first-col{
		width: 600px;
	}
	.form-ewan{
		min-height: 100px;
		width: 600px;
	}
	.form-ewan1{
		min-height: 100px;
		width: 580px;
	}
	#tel{
		width: 560px;
	}

}
@media only screen and (max-width: 660px) {
	.form-container{
		width: 100%;
		min-height: 300px;
	}
	.first-col{
		width: 400px;
	}
	.form-ewan{
		min-height: 100px;
		width: 400px;
	}
	.form-ewan1{
		min-height: 100px;
		width: 380px;
	}
	#tel{
		width: 360px;
	}

}

@media only screen and (min-width: 900px) {
	#about .col-right .p {
		padding:25px;
	}
}
@media only screen and (max-width: 900px) {
	#about .col-right .p {
		padding:25px;
	}
}
@media only screen and (min-width: 1200px) {
	.about-container {
		display: flex;
		text-align: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 100px 20px;
		padding:10px;
	}
}


@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .col-right {
		text-align: center;
		padding: 30px;
		padding:15px;
	}
	#about .col-right h1 {
		text-align: center;
	}
	#about .col-right .p{
		text-align: center;
	}
	/* End About */

	
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */